body{
  font-size:16px;
  line-height:normal;
  color:black;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
}
h1{
  font-size:16px;
  line-height:normal;
  color:black;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
}
h2{
  font-size:16px;
  line-height:normal;
  color:black;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.basket{
  float: right;
  width: 140px;
  min-height: 70px;
  margin-top: 80px;
}
.page-header-logo{
  float: left;
  width: 220px;
  height: 100px;
  margin-top: 50px;
}
.page-header-nav{
  height: 70px;
  float: left;
  margin-top: 80px;
  margin-left: 200px;
}
.page-header ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-header li{
  float: left;
  padding: 0 30px;
}
.page-header a{
  float: right;
}
.slider-wrapper{
  width: 1160px;
}
.slider-wrapper1{
  width: 698px;
  float: right;
 position: relative;
}
.slider-toggle{
position: absolute;
}
.losung{
  width: 380px;
  float: left;
}
.widget-wrapper{
  width: 1160px;
  margin-top: 80px;
}
.widget-1{
  float: left;
  width: 350px;
  height: 300px;
}
.widget-2{
  float: left;
  width: 350px;
  height: 300px;
}
.widget-3{
  float: left;
  width: 350px;
  height: 300px;
}
.commercial{
width: 1160px;
height: 529px;
}
.commercial-content{
  float: left;
  width: 660px;
  height: 370px;
}
.article{
  width: 360px;
  height: 411px;
  float: left;
  margin-bottom:60px;
}
.promo{
  width: 1160px;
  height: 182px;
  margin-bottom:90px;
}
.img-promo-1{
  width: 260px;
  height: 182px;
  float: left;
}
.img-promo-2{
  width: 260px;
  height: 182px;
  float: left;
}
.img-promo-3{
  width: 260px;
  height: 182px;
  float: left;
}
.img-promo-4{
  width: 260px;
  height: 182px;
  float: left;
}
.main-footer{
margin-top: 80px;
padding-bottom: 40px;
}
.footer-content{
width: 100%;
height: 416px;
object-fit: cover;
}
.footer-social{
  float: left;
  width: 260px;
  height: 83px;
}
.footer-cont{
position: relative;
}
.footer-contact{
position: absolute;
width: 200px;
height: 211px;
top: -330px;
}
.slogan{
width: 580px;
height: 65px;
float:left;
}
.subtitle{
  width: 210px;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 60px;
}
.container-left{
  width: 260px;
  height: 784px;
  float: left;
  margin-right: 100px;
}
.slider{
  width: 260px;
  height: 79px;
}
.widget{
width: 180px;
height: 180px;

}
.category-1{
width: 180px;
height: 141px;
margin-bottom: 80px;
}
.category-2{
  width: 200px;
  height: 226px;
}
.section{
width: 760px;
height: 2002px;
float: left;
}
.filt{
float: left;
width: 140px;
height: 18px;

}
.row{
float: right;
width: 360px;
height: 18px;

}
.section-1{
float: left;
width: 360px;
height: 618px;
margin-right: 40px;
margin-top: 55px;
margin-bottom: 35px;
}
.section-2{
float: left;
width: 360px;
height: 618px;
margin-top: 55px;
margin-bottom: 35px;
}
.section-3{
float: left;
width: 360px;
height: 618px;
margin-right: 40px;
margin-bottom: 35px;
}
.section-4{
float: left;
width: 360px;
height: 618px;
margin-bottom: 35px;
}
.section-5{
float: left;
width: 360px;
height: 618px;
margin-right: 40px;
margin-bottom: 60px;
}
.section-6{
float: left;
width: 360px;
height: 618px;
margin-bottom: 170px;
}
.btn{
width: 460px;
height: 49px;
float: left;
}
.promo div {
  padding: 0 12px;
}
