body{
  font-size:small, medium, large;
  line-height:normal;
  font color:normal;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal,lighter, bolder;
}
h1{
  font-size:small, medium, large;
  line-height:normal;
  font color:normal;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal,lighter, bolder;
}
h2{
  font-size:small, medium, large;
  line-height:normal;
  font color:normal;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal,lighter, bolder;
}
