body{
  font-size:16px;
  line-height:normal;
  color:black;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
}
h1{
  font-size:16px;
  line-height:normal;
  color:black;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
}
h2{
  font-size:16px;
  line-height:normal;
  color:black;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.basket{
  position: relative;
  display: inline-block;
  float: right;
  width: 114px;
  min-height: 70px;
  margin-top: 91px;
  font-family: 'Roboto', 'Arial', sans-serif;
   vertical-align: top;
   text-decoration: none;

}
.basket::before {
  content: "";
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  background-position: -1px -15px;
  opacity: 0.3;
  background: transparent url("../img/cart-icon.png") no-repeat;
}
.basket:hover::before {
  opacity: 1;
}
.basket1{
  text-decoration: none;
  font-family: 'Roboto', 'Arial', sans-serif;
  background:#eeeeee;
}
.page-header-logo{
  float: left;
  width: 220px;
  height: 100px;
  margin-top: 60px;
  background:#eeeeee;
}
.page-header{
  background:#eeeeee;
}
.page-header-nav{
  height: 70px;
  float: left;
  margin-top: 92px;
  margin-left: 99px;
  font-family: 'Roboto', 'Arial', sans-serif;
  background:#eeeeee;
  font-weight:bold;
}
.page-header ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-header li{
  float: left;
  padding: 0 30px;
}
.page-header-nav a{
text-decoration: none;
color: #000000;

}
.basket1{
  float: right;
  font-family: 'Roboto', 'Arial', sans-serif;
  color:black;
  font-weight:bold;
}
.slider-wrapper{
  background:#eeeeee;
  position: relative;
}
.slider-wrapper1{
  width: 698px;
  float: right;
}
.slid-nav{
width: 96px;
height: 20px;
position: absolute;
bottom: 95px;
left: 643px;
}
.slid-nav i{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 5px;
    background:white;
    border:5px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
.slid-nav .active{
    background:#c1c1c1;
}
.slide{
  width: 380px;
  float: left;
}
.slider-wrapper2{
  width: 698px;
  float: right;
  display: none;
}
.slid-nav2{
width: 91px;
height: 20px;
position: absolute;
bottom: 95px;
left: 643px;
display: none;
}
.slide2{
  width: 380px;
  float: left;
  display: none;
}
.slider-wrapper3{
  width: 698px;
  float: right;
  display: none;
}
.slid-nav3{
width: 91px;
height: 20px;
position: absolute;
bottom: 95px;
left: 643px;
display: none;
}
.slide3 {
  display: none;
}
.losung1{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:55px;
  font-style:normal;
  font-weight:bold;
}
.losung2{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:16px;
  font-weight: normal;
}
.button{
  display: block;
  width: 239px;
  height: 50px;
  background-color: #fb565a;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size:16px;
  color: #fff;
}
.widget-wrapper{
  width: 1160px;
  margin-top: 80px;
}
.widget-1{
  float: left;
  width: 350px;
  height: 300px;
}
.widget-2{
  float: left;
  width: 350px;
  height: 300px;
  margin-left: 51px;
}
.widget-3{
  float: left;
  width: 350px;
  height: 300px;
  margin-left: 47px;
}
.item1{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 24px;
  font-weight:bold;
}
.item2{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 24px;
  font-weight:bold;
}
.item3{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 24px;
  font-weight:bold;
}
.button2{
  display: block;
  width: 160px;
  height: 50px;
  background-color: #fb565a;
  border-radius:3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
}
.button3{
  display: block;
  width: 160px;
  height: 50px;
  background-color: #00ca74;
  border-radius:3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
}
.button4{
  display: block;
  width: 160px;
  height: 50px;
  background-color: #efc849;
  border-radius:3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
}
.content{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.content10{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.content11{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.commercial{
  width: 1160px;
  margin-top: 130px;
}

.commercial-content{
  float: left;
  width: 660px;
  height: 370px;
}
.content-8{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 45px;
  font-weight:bold;
  padding-top: 21px;
}
.content-9{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.item4{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.list3{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  padding: 29px;
  list-style: none;
}
.list3 li::before{
  content: '— ';
  color: red;
}
.article{
  width: 360px;
  height: 411px;
  float: left;
  margin-bottom:60px;
  margin-left: 140px;
  margin-top: 38px;
}
.promo{
  width: 1160px;
  height: 182px;
  margin-bottom:90px;
  border-top-style:solid;
  border-bottom-style: solid;
  opacity: 0.3;
  margin-top: 14px;
}
.img-promo-1{
  width: 260px;
  height: 182px;
  float: left;
}
.img-promo-2{
  width: 260px;
  height: 182px;
  float: left;
}
.img-promo-3{
  width: 260px;
  height: 182px;
  float: left;
}
.img-promo-4{
  width: 260px;
  height: 182px;
  float: left;
}
.aside{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 17px;
  padding-left: 15px;
}

.aside-1{
  width: 100px;
  height: 97px;
  float: left;
}
.aside-2{
  width: 100px;
  height: 97px;
  float: left;
  margin-left: 18px;
}
.aside-3{
  width: 100px;
  height: 97px;
  float: left;
  margin-left: 18px;
}
.inner-1{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:45px;
  font-weight: bold;
  width: 100px;
  height: 12px;
}
.inner-2{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.inner-3{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:45px;
  font-weight: bold;
  width: 100px;
  height: 12px;
}
.inner-4{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.inner-5{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:45px;
  font-weight: bold;
  width: 100px;
  height: 12px;
}
.inner-6{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}

.main-footer{
  margin-top: 170px;
  padding-bottom: 40px;
}
.footer-content{
  width: 100%;
  height: 416px;
  object-fit: cover;
}
.footer-social{
  float: left;
  height: 83px;
  margin-top: 65px;
  margin-bottom: 65px;
}
.footer-cont{
  position: relative;
}
.footer-contact{
  position: absolute;
  width: 319px;
  height: 307px;
  top: -380px;
  display: block;
  background-color:#ffffff;
  text-transform: uppercase;
  line-height: 20px;
  padding-left: 50px;
}
.contact-1{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 28px;
}
.contact-2{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: #666666;
}
.contact-3{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: #666666;
}
.contact-4{
  display: block;
  width: 221px;
  height: 49px;
  background-color: #fb565a;
  border-radius:3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 49px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #fff;

}
.social-btn-vk{
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 2px;
  background: #e1e1e1 url("../img/vk-icon.png") no-repeat center;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50px;
}
.social-btn-fb{
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 2px;
  background: #e1e1e1 url("../img/fb-icon.png") no-repeat center;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50px;
}
.social-btn-inst{
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 2px;
  background: #e1e1e1 url("../img/insta-icon.png") no-repeat center;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50px;
}

.slogan{
  width: 580px;
  height: 65px;
  float:left;
  margin-left: 140px;
  margin-top: 30px;
}
.slogan-1{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: bold;
}
.slogan-2{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.label{
  width:154px;
  height:194px;
  position: absolute;
  bottom: 139px;
  right: 471px;
}
.subtitle{
  background:#eeeeee;
  border-top: 1px solid transparent;
  padding: 1px;
}
.subtitle-1{
  width: 728px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.cost{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.mesh-1{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.mesh-2{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.container-left{
  width: 260px;
  height: 784px;
  float: left;
  margin-right: 137px;
  margin-top: 30px;
}
.slider{
  width: 260px;
  height: 79px;
}
.range-filter {
  width: 240px;
  margin-right: 20px;
  margin-top: 12px;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 39px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 125px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.max-price {
  text-align: right;
}
.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
input[type="checkbox"] {
  margin-top: 10px;
}
input[type="submit"] {
  margin-top: 27px;
  display: block;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
}


.category-1{
  width: 180px;
  height: 141px;
  margin-top: 185px;
}
.category-2{
  width: 200px;
  height: 226px;
  margin-top: 53px;
}

.cat1{
  margin-bottom: 20px;
}
.cat2{
  margin-bottom: 20px;
}
.section{
  width: 760px;
  height: 2002px;
  float: left;
  margin-top: 45px;
}
.check1{
  padding-bottom: 10px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
 display: block;
 line-height: 20px;
 padding-left: 45px;
 position: relative;
 cursor: pointer;
}
input[type="checkbox"]:checked + label::before {
  display: none;
}
input[type="checkbox"] + label::before {
content: "";
display: block;
width: 20px;
height: 18px;
border: 3px solid #b8b8b8;
background-color: #f9f6f3;
position: absolute;
top: -1px;
left: -1px;
border-radius: 6px;
}
input[type="checkbox"]:checked + label::after {
 content: "";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 background-image: url(../img/sprite.png);
 background-repeat: no-repeat;
 width: 27px;
 height: 23px;
 background-position: -10px -53px;
 opacity: 0.5;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
 display: block;
 line-height: 20px;
 padding-left: 45px;
 position: relative;
 cursor: pointer;
}
input[type="radio"]:checked + label::before {
  display: none;
}
input[type="radio"] + label::before {
content: "";
display: block;
width: 20px;
height: 18px;
border: 3px solid #b8b8b8;
background-color: #f9f6f3;
position: absolute;
top: 0;
left: 0;
border-radius: 12px;
}
input[type="radio"]:checked + label::after {
 content: "";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 background-image: url(../img/sprite.png);
 background-repeat: no-repeat;
 width: 25px;
 height: 25px;
 background-position: -10px -141px;
 opacity: 0.5;
}

.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-checkbox-off {
    width: 27px;
    height: 23px;
    background-position: -10px -10px;
}

.sprite-checkbox-on {
    width: 27px;
    height: 23px;
    background-position: -10px -53px;
}

.sprite-radio-off {
    width: 25px;
    height: 25px;
    background-position: -10px -96px;
}

.sprite-radio-on {
    width: 25px;
    height: 25px;
    background-position: -10px -141px;
}
form{
  margin-top: 15px;
}
.filt{
  float: left;
  width: 140px;
  height: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.page-header-nav .active {
  position: relative;
  background-color: none;
}
.page-header-nav .active::after {
  content: "";
  position: absolute;
  right: 27px;
  top: 26px;
  left: 27px;
  height: 3px;
  background-color: #fb565a;
}
.page-header-nav .active a:hover {
  background: none;
}
.row{
  float: right;
  width: 360px;
  height: 18px;
  position: relative;
  display: inline-block;
  margin-top: 3px;
  margin-left: 7px;
}
.row::before {
  content: "";
  position: absolute;
  right: 18px;
  width: 18px;
  height: 18px;
  background-position: -1px -15px;
  background: transparent url(../img/sort-down.png) no-repeat;
  top:5px;
}
  .row1::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 18px;
  height: 18px;
  opacity: 0.3;
  background-position: -1px -15px;
  background: transparent url(../img/sort-up.png) no-repeat;
  top: 5px;
}
.row1{
  text-decoration: none;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  color: black;
}
.row2{
  text-decoration: none;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  color: #b2b2b2;
  padding-left: 20px;
}
.row3{
  text-decoration: none;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  color: #b2b2b2;
  padding-left: 20px;
}
.section-1{
  float: left;
  width: 360px;
  height: 618px;
  margin-right: 40px;
  margin-top: 55px;
  margin-bottom: 35px;
  position: relative;
}
.content1{
  position: absolute;
  width: 360px;
  height: 230px;
  display: block;
  background-color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  bottom:2px;
}
.sedona{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.info1{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.butt1{
  display: block;
  width: 200px;
  height: 50px;
  background-color: #fb565a;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 49px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.section-2{
  float: left;
  width: 360px;
  height: 618px;
  margin-top: 55px;
  margin-bottom: 35px;
  position: relative;
}
.content2{
  position: absolute;
  width: 360px;
  height: 230px;
  display: block;
  background-color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  bottom:2px;
  display: none;
}
.borodinski{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.info2{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.butt2{
  display: block;
  width: 200px;
  height: 50px;
  background-color: #fb565a;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 49px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.section-3{
  float: left;
  width: 360px;
  height: 618px;
  margin-right: 40px;
  margin-bottom: 35px;
  position: relative;
}
.content3{
  position: absolute;
  width: 360px;
  height: 230px;
  display: block;
  background-color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  bottom:2px;
  display: none;
}
.Aplus{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.info3{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.butt3{
  display: block;
  width: 200px;
  height: 50px;
  background-color: #fb565a;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 49px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.section-4{
  float: left;
  width: 360px;
  height: 618px;
  margin-bottom: 35px;
  position: relative;
}
.content4{
  position: absolute;
  width: 360px;
  height: 230px;
  display: block;
  background-color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  bottom:2px;
  display: none;
}
.Pink{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.info4{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.butt4{
  display: block;
  width: 200px;
  height: 50px;
  background-color: #fb565a;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 49px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.section-5{
  float: left;
  width: 360px;
  height: 618px;
  margin-right: 40px;
  position: relative;
}
.content5{
  position: absolute;
  width: 360px;
  height: 230px;
  display: block;
  background-color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  bottom:2px;
  display: none;
}
.MISHKA{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.info5{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.butt5{
  display: block;
  width: 200px;
  height: 50px;
  background-color: #fb565a;
  border-radius: 3px;
  text-transform: uppercase;
 text-decoration: none;
  line-height: 49px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.section-6{
  float: left;
  width: 360px;
  height: 618px;
  position: relative;
}
.content6{
  position: absolute;
  width: 360px;
  height: 230px;
  display: block;
  background-color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  bottom:2px;
  display: none;
}
.kvast{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.info6{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.butt6{
  display: block;
  width: 200px;
  height: 50px;
  background-color: #fb565a;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 49px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  width: 460px;
  height: 54px;
  float: left;
  margin-top: 61px;
  margin-left: 2px;
}
.btn1{
  display: block;
  width: 46px;
  height: 42px;
  background-color: #ffffff;
  border-color: #eeeeee;
  border-style: solid;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 42px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #010101;
  float: left;
}
.btn2{
  display: block;
  width: 49px;
  height: 47px;
  background-color: #eeeeee;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 47px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #010101;
  float: left;
  margin-left: 11px;
}
.btn3{
  display: block;
  width: 49px;
  height: 47px;
  background-color: #eeeeee;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 47px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #010101;
  float: left;
  margin-left: 11px;
}
.btn4{
  display: block;
  width: 266px;
  height: 47px;
  background-color: #eeeeee;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 47px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #010101;
  float: left;
  margin-left: 11px;
}
.promo div {
  padding: 0 12px;
}
.title-1{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 55px;
  font-weight: bold;
}
.footer-map{
width: 1440px;
margin-left: auto;
margin-right: auto;

}
